# fly.toml app configuration file generated for wmf-scraper-front on 2025-11-28T09:48:46Z
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'wmf-scraper-front'
primary_region = 'ams'
console_command = '/bin/bash'

[build]
dockerfile = "Dockerfile"
[build.args]
REACT_APP_API_KEY = ""
REACT_APP_ADMIN_USERNAME = ""
REACT_APP_ADMIN_PASSWORD = ""

[deploy]
release_command = 'echo "Application starting..."'

[env]
ENVIRONMENT = 'production'
VERSION = '2.0.1'

[http_service]
internal_port = 8080
force_https = true
auto_stop_machines = 'stop'
auto_start_machines = true
min_machines_running = 0
processes = ['app']

[[http_service.checks]]
interval = '15s'
timeout = '2s'
grace_period = '5s'
method = 'GET'
path = '/health'
protocol = 'http'
tls_skip_verify = false

[http_service.checks.headers]
User-Agent = 'Fly Health Check'

[[vm]]
memory = '512mb'
cpu_kind = 'shared'
cpus = 1
